[commit]
	gpgsign = true
[core]
	ignorecase = false
[credential]
	helper = osxkeychain
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[gpg]
	program = /opt/homebrew/bin/gpg
[include]
	path = .gitconfig.local
[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	useHttpPath = true
