[commit]
	gpgsign = true
[core]
	ignorecase = false
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
	helper = osxkeychain
[credential "https://dev.azure.com"]
	useHttpPath = true
[gpg]
	program = /opt/homebrew/bin/gpg
[init]
	defaultBranch = main
